.Designs-one {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.Design-photos img {
    width: 400px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    
}

.Design-photos {
    margin: 0 auto;
    display: block;
    text-align: center;
 }

 #femmerebelleapp img{
    box-shadow: 5px 5px 5px 5px #b8a393;
     margin-bottom: 20px;
 }

 #nanafofieapp img{
    box-shadow: 5px 5px 5px 5px #b8a393;
     margin-bottom: 20px;
     margin-left: 20px;
 }

 #doctoribrowapp img{
    box-shadow: 5px 5px 5px 5px #b8a393;
     margin-bottom: 20px;
     margin-left: 20px;
 }




 @media (max-width: 800px) {
    .Designs-one {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 70px;
        
    }

    
 }