




body {
    background-color: #F2F5FD;
   
}
.Biography h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    color: #60597B;
    
}

.Biography h3{
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #60597B;
}

.Biography ul {
    list-style: none;
    flex-direction: column;
    margin-right: 30px;
    
}

.Biography p {
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #60597B;
    font-weight: 200px;
    
}



.Home ul {
 
    list-style: none;
    display: flex;
}


.Home {
   align-items: center; 
   justify-content: center;
   display: flex;
   box-shadow: 5px 5px 5px 5px #D1CDDF;
   margin: 20px;
   
}

.profilePhoto {
    opacity: 0.99;
    border-radius: 10px;
}

footer {
    position: absolute;
    margin-top: 130px;
    background-color: #D1CDDF;
    width: 100%;
    bottom: auto;
}

.connect ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: #60597B;
    
}

.connect a:active {
    color: #60597B
}

.connect a {
    color: #60597B;
    font-size: 19px;
    text-decoration: none;
    letter-spacing: 5px;
}
footer #Git {
    margin-left: 30px;
}

footer h3 {
    text-align: center;
    color: #60597B;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: lighter;
}

footer #Email {
    margin-left: 30px;
}


@media (max-width: 800px) {
     .profilePhoto {
        width: 200px;
       display: block;
       margin: 0 auto;
        border-radius: 50%;
        
        
    }

     .Home ul {
         flex-direction: column;
         padding-right: 30px;
       
     }

     .Home {
        margin-left: 30px;
         width: 600px;
     }

      .Biography h1 {
        font-size: 40px;
        text-align: center;
        
    }


}

@media (max-width: 500px) {
    .profilePhoto {
        width: 200px;
       display: block;
       margin: 0 auto;
        border-radius: 50%;
        
        
    }
     .Home ul {
         flex-direction: column;
         padding-right: 30px;
       
     }

     .Home {
         margin-left: 50px;
         width: 400px;
     }
   

    .connect ul {
        flex-direction: column;
    }

    footer {
        width: 100%;
    }

    footer #Git {
        margin-left: 0;
      
    }

    footer #Email {
        margin-left: 0;
        
    }

    .Biography h1 {
        font-size: 20px;
        text-align: center;
    }

    .Biography h3 {
        width: 300px;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    footer {
        width: 500px
    }
}